<h1>Editing Book</h1>
<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book from being saved:
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<!-- form_with部分 -->
<%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %> <!-- form_with＝新規投稿等のベースを作成する記述 -->
  <div>
   <label for ="book_title">Title</label>
  <br>
   <%= f.text_field :title %>
  </div>

　<div>
   <lebel for ="Body_body">Body</lebel>
  <br>
   <%= f.text_area :body %>
 </div>

  <div>
   <%= f.submit 'Update Book' %>
  </div>
<% end %>

<tr><%= link_to "Show", book_path(@book.id) %></tr>
｜
<tr><%= link_to "Back", books_path %></tr>

